TELEGRAM_TOKEN=токен_от_BotFather
SUPABASE_URL=https://xxxxxxxxxxxxxxxx.supabase.co
SUPABASE_KEY=supabase_service_role_key
LOKI_USER=loki_user_id
LOKI_API_TOKEN=loki_api_token
TAVILY_API_KEY=tvly-key
